.App {
  text-align: center;
}

.background-main{
  background-image: url("assets/Pokemon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
}

.background-card{
  background-image: url("assets/pokebolas2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
}

.background-grilla{
  /* background: linear-gradient(#006064,#00838f,#0097a7); */
  /* background: conic-gradient(at 0% 30%, #006064 10%, #00838f 30%, #0097a7 50%); */
  background: conic-gradient(at 0% 30%, #18ffff  10%, #00838f 30%, #006064  50%);
  height: 1500px;
  background-size: cover; 
}

.background{
  background: conic-gradient(at 0% 30%, #18ffff  10%, #00838f 30%, #006064  50%);
  height: 100vh;
  background-size: cover; 
}